@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

.card {
    width: 200px;
    height: 320px;
    background: white;
    border-radius: 10px;
    font-size: 40px;
    position: relative;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    position: absolute;
    top: 5px;
    left: 10px
}

.bottom {
    position: absolute;
    bottom: 5px;
    right: 10px;
    transform: rotate(180deg);
}

.number {
    font-size: 50px;
}